.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    background-color: aqua;
    text-align: center;
    /* margin: 20px; */
    grid-auto-rows: 100px;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:azure;
}
.box2{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 5;
    background-color: blue;
}

