.a{
    background-color: red;
}
.class1 .class2{
    background-color: green;
} 
.class1 .class3{
    background-color: red;
}

/* Selects all elements with the "title" attribute */
[title] {
    color: red;
  }
  /* Selects all anchor tags <a> with a href attribute equal to "https://www.example.com" */
a[href="https://www.example.com"] {
    color: green;
  }
  /* Selects all elements with a class that contains the word "primary" */
[class~="primary"] {
    background-color: lightblue;
  }
  /* Selects all <input> elements whose "name" attribute starts with "user" */
input[name^="user"] {
    border: 2px solid blue;
  }
  /* Selects all images with a "src" that ends with ".jpg" */
img[src$=".jpg"] {
    border: 2px solid red;
  }
/* Selects all links whose "href" contains the word "example" */
a[href*="example"] {
    font-weight: bold;
  }
    
  
  
  